[Unit]
Description=Apache Solr
After=syslog.target network.target remote-fs.target nss-lookup.target systemd-journald-dev-log.socket
Before=multi-user.target
Conflicts=shutdown.target

[Service]
Type=forking
ExecStart=/opt/solr/bin/solr start
ExecStop=/opt/solr/bin/solr stop
User=solr
Group=solr
Restart=on-failure

[Install]
WantedBy=multi-user.target